#auth {
	background: $gray-600;
	min-height: 100vh;
	padding-top: 100px;
	background-image: url(https://picsum.photos/1920/1280);
	background-size: cover;
	background-color: background;

	.card {
		box-shadow: 0 5px 15px rgba(#246892, 0.6);
		border: none;
	}
}
